import os


# General settings
LOGLEVEL = os.environ.get("GENERAL_LOGLEVEL", "INFO").upper()

# Storage settings
{% if storage_backend == "sqlite" -%}
DATABASE_URL = os.environ.get("STORAGE_DATABASE_URL")
{% endif %}

# Application specific settings
