from sqlalchemy.ext.asyncio import create_async_engine
from sqlalchemy.orm import sessionmaker

from {{ project_name }} import config


{% if storage_backend == "sqlite" -%}
engine = create_async_engine(f"{config.DATABASE_URL}")
{% endif -%}

Session = sessionmaker(bind=engine)
session = Session()
