from sqlalchemy.ext.asyncio import async_sessionmaker, create_async_engine

from {{ project_name }} import config


{% if storage_backend == "sqlite" -%}
engine = create_async_engine(f"{config.DATABASE_URL}")
{% endif -%}

AsyncSession = async_sessionmaker(bind=engine)
session = AsyncSession()
